# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# ML Models
# =========================
*.pkl
*.joblib

# =========================
# Datasets
# =========================
data/
*.csv

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
